

body{
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
}

*{
    box-sizing: border-box;
}


.mainEmpty{
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
}

.item{
    width: 200px;
    height: 200px;
}



.line{
    width: 100%;
    height: 10px;
    background-color: rgb(70, 70, 70);
    border-radius: 5px;
    position: absolute;
    left: 0;
}


.topHorizontal{
    top: 195px;
}

.bottomHorizontal{
    top: 395px;
}

.leftVertical{
    top: 295px;
    left: -105px;
    transform: rotate(90deg);
}
.rightVertical{
    top: 295px;
    left: 95px;
    transform: rotate(90deg);
}


.X{
    position: relative;
    height: 200px;
    width: 200px;
}

.line_1, .line_2{
    width: inherit;
    height: 10px;
    background-color: rgb(29, 52, 95);
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 0;

}

.line_1{
    animation-name: animateX__line-1;
    animation-duration: 0.5s;
    transform: rotate(45deg);
}

.line_2{
    animation-name: animateX__line-2;
    animation-duration: 0.5s;
    transform: rotate(-45deg);
}


.circle{
    position: relative;
    width: 200px;
    height: 200px;
    animation-name: animateO;
    animation-duration: 0.9s;
}

.circleItem{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 165px;
    height: 165px;
    border: 10px solid rgb(95, 29, 29);
    border-radius: 50%;
    background-color: transparent;
    transform: translate(-50%,-50%);
}

.options{
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-width: 300px;
    min-width: 300px;
    top: 0;
    right: 0;
    transform: translateX(270px);
    background-color: #C5DDE8;
    transition: transform .3s ease;
}

.option-container{
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options-arrow{
    width: 30px;
    height: 30px;
}

.option-teams{
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.option-teamX,
.option-teamO{
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
.options-arrow{
    
}

.options-button{
    width: 40px;
    min-height: 100%;
    background: linear-gradient(90deg, #fff, #C5DDE8);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    cursor: pointer;
    font-weight: 700;

}


.choice-color{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}

.choice-color_grey{
    background-color: rgb(70, 70, 70);
}
.choice-color_blue{
    background-color: rgb(29, 52, 95);
}
.open{
    transform: translateX(0px);
}

.option-title{
    font-size: 16px;
}

.modal-win{
    position: absolute;
    top: 50%;
    flex-direction: column;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.combo{
    font-size: 18px;
    margin: 27px 0;
}


.btn-reset{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: #1a1a1a;
    color: #fff;
    cursor: pointer;
}

.btn-reset:hover{
    background-color: rgb(82, 82, 82);
}

@keyframes animateX__line-1{
    0%{
        transform: translate(-100px, -100px) rotate(45deg);
        opacity: 0;
        
        
    }
    100%{
        transform: translate(0,0) rotate(45deg);
        opacity: 1;
    }
}

@keyframes animateX__line-2{
    0%{
        transform: translate(-100px, 100px) rotate(-45deg);
        opacity: 0;
        
    }
    30%{
        transform: translate(-100px, 100px) rotate(-45deg);
        opacity: 0; 
    }
    100%{
        transform: translate(0,0) rotate(-45deg);
        opacity: 1;
    }
}

@keyframes animateO{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
